adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
attrs==15.2.0
ccsm==0.9.11.3
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.3
cssselect==0.9.1
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
Django==1.9.5
dnspython==1.11.1
duplicity==0.6.23
fluendo-eula==0.6
html5lib==0.999
httplib2==0.8
ipython==1.2.1
lockfile==0.8
lxml==3.3.3
mutagen==1.22
oauthlib==0.6.1
oneconf==0.3.7
PAM==0.4.2
pexpect==3.1
Pillow==2.3.0
piston-mini-client==0.7.5
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pyOpenSSL==0.13
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu2
python-debian===0.1.21-nmu2ubuntu2
python-distutils-extra==2.38
python-mpd==0.3.0
pyxdg==0.25
queuelib==1.4.2
reportlab==3.0
requests==2.2.1
Scrapy==1.0.5
service-identity==16.0.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.5.2
software-center-aptd-plugins==0.0.0
system-service==0.1.6
Twisted==16.1.1
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==1.11.4
w3lib==1.14.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose===3.6.3build2
zope.interface==4.0.5
dj-database-url==0.3.0
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==2.0.6
